.BBQ-Area {
  background-image: url("../../assets/BBQAreaImages/BBQ\ AREA\ 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pergolas {
  background-image: url("../../assets/pergolas/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glassRooms {
  background-image: url("../../assets/GlassRoomsImages/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cncCutPanel {
  background-image: url("../../assets/CncCutPanelImages/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carParkingShades {
  background-image: url("../../assets/CarParkingShades/headre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aluWindowsDoors {
  background-image: url("../../assets/AliminiumDoorsAndWindowsImages/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
