.box {
  background: #ccc;
  text-align: center;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); */
  overflow: hidden;
  position: relative;
}

.box:before,
.box:after {
  content: "";
  /* border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; */
  opacity: 0;
  transform: scaleX(0);
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  transition: all 0.5s ease 0s;
}

.box:after {
  border-top: none;
  border-bottom: none;

  transform: scaleY(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.box:hover:before,
.box:hover:after {
  opacity: 1;
}

.box:hover:before {
  transform: scaleX(1);
}

.box:hover:after {
  transform: scaleY(1);
}

.box img {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.box:hover img {
  /* opacity: 0.5; */
  transform: scale(1.2);
}

.box .box-content {
  color: #fff;
  width: 100%;
  opacity: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.box:hover .box-content {
  opacity: 1;
  top: calc(50% - 25px);
}
