.service-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 5rem;
  padding-left: 5rem;
  color: #ffffff;
}

.content-subheading {
  font-size: 25px;
  line-height: 25px;
}

.content-description {
  font-weight: 200;
}

.service-readmore-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.service-readmore-link:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.service-readmore-link svg {
  margin-right: 5px;
}

.container-fluid {
  position: relative;
}

/* .slider-dots {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

.Top-Main .slick-arrow {
  display: none !important;
}

.Top-Main .slick-dots {
  display: block;
  background-color: transparent !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.Top-Main .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 8px !important;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

@media screen and (max-width: 600px) {
  .Service .slider-dots {
    top: 70% !important;
  }
}

@media screen and (min-width: 610px) and (max-width: 765px) {
  .Service .slider-dots {
    top: 80% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .service-content {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
} */

.main-Banner {
  height: 600px;
  background-size: cover;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 20px;
  /* Add more styles as needed */
}

.description {
  width: 90%;
}

.textCol {
  padding-left: 80px;
}

@media (max-width: 280px) {
  .textCol {
    padding-left: 20px;
  }
}

.info-content {
  display: none;
}

@media screen and (max-width: 700px) {
  .Top-Main {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .info-content {
    display: block;
  }
}

.Top-Main .slick-prev {
  background-image: url("../../assets/FeaturedImages/leftArrow.png") !important;
}

.Top-Main.slick-next {
  background-image: url("../../assets/FeaturedImages/rightArrow.png") !important;
}

.Top-Main .slick-prev {
  margin-left: 45% !important;
  top: 90%;
  height: 20px !important;
}

.Top-Main .slick-next {
  margin-right: 45% !important;
  top: 90%;
  height: 20px !important;
}

@media only screen and (max-width: 920px) and (min-width: 701px) {
  .Top-Main .slick-prev {
    margin-left: 40% !important;
    top: 90%;
    height: 20px !important;
  }

  .Top-Main .slick-next {
    margin-right: 40% !important;
    top: 90%;
    height: 20px !important;
  }
}
